{
	"extends": "react-app",
	"parser": "babel-eslint",
	"rules": {
		"comma-dangle": 0,
		"import/no-dynamic-require": 0,
		"key-spacing": 0,
		"keyword-spacing": 0,
		"no-mixed-spaces-and-tabs": 0,
		"no-new": 0,
		"no-plusplus": 0,
		"no-prototype-builtins": 0,
		"no-return-assign": 0,
		"no-tabs": 0,
		"prefer-const": 0,
		"promise/param-names": 0,
		"space-infix-ops": 0,
		"camelcase": 1,
		"no-unused-vars": 1,
		"import/no-unresolved": 0,
		"semi": [
			"error",
			"never"
		],
		"object-curly-spacing": 0,
		"import/newline-after-import": 0,
		"no-use-before-define": 0,
		"global-require": 0,
		"guard-for-in": 0,
		"no-restricted-syntax": 0,
		"no-undef": 0,
		"no-continue": 0,
		"prefer-destructuring": 0,
		"func-names": 0,
		"max-len": 0,
		"no-param-reassign": 0,
		"space-before-blocks": 0,
		"comma-spacing": 0,
		"space-before-function-paren": 0,
		"no-trailing-spaces": 0,
		"linebreak-style": 0,
		"import/extensions": 0,
		"no-mixed-operators": 0,
		"import/no-named-as-default": 0,
		"import/no-named-as-default-member": 0,
		"import/no-cycle": 0,
		"class-methods-use-this": 0,
		"no-underscore-dangle": 0,
		"import/no-extraneous-dependencies": 0,
		"no-shadow": 0
	},
	"env": {
		"jquery": true,
		"es6": true
	},
	"globals": {
		"anime": true,
		"_": true
	}
}
