@font-face {
  font-family: "Itim-Regular";
  src: url("../../assets/fonts/Itim-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.ttf");
}

@font-face {
  font-family: "Cormorant-Regular";
  src: url("../../assets/fonts/Cormorant-Regular.ttf");
}

@font-face {
  font-family: "monaco";
  src: url("../../assets/fonts/monaco.ttf");
}

@font-face {
  font-family: "AnonymousPro-Regular";
  src: url("../../assets/fonts/AnonymousPro-Regular.ttf");
}

@font-face {
  font-family: "fangzheng-songke";
  src: url("../../assets/fonts/fangzheng-songke.ttf");
}

@font-face {
  font-family: "gangbi-kaiti";
  src: url("../../assets/fonts/gangbi-kaiti.ttf");
}

@font-face {
  font-family: "huxiaobo-meixin";
  src: url("../../assets/fonts/huxiaobo-meixin.ttf");
}

