@font-face {
  font-family: "Itim-Regular";
  src: url("/src/assets/fonts/Itim-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("/src/assets/fonts/arial.ttf");
}

@font-face {
  font-family: "Cormorant-Regular";
  src: url("/src/assets/fonts/Cormorant-Regular.ttf");
}

@font-face {
  font-family: "monaco";
  src: url("/src/assets/fonts/monaco.ttf");
}

@font-face {
  font-family: "AnonymousPro-Regular";
  src: url("/src/assets/fonts/AnonymousPro-Regular.ttf");
}

