<main>
    <div id="root" data-config="<%= JSON.stringify(pageConfig)%>">
        Cur page name:<%= folderLocalesName1+'|'+folderLocalesName2+'|'+pageLocalesName %>
    </div>
</main>
<script>
    window.pageConfig = <%= typeof pageConfig=="undefined" ? null : JSON.stringify(pageConfig) %>
    window.isDev = <%= typeof isDev=="undefined" ? null : JSON.stringify(isDev) %>
</script>
