<main>
    <div id="root"  data-config="<%= JSON.stringify(pageConfig)%>">
        Page Loading...
    </div>
</main>
<script>
    window.pageConfig = <%= typeof pageConfig=="undefined" ? null : JSON.stringify(pageConfig) %>
    window.isDev = <%= typeof isDev=="undefined" ? null : JSON.stringify(isDev) %>
    window.publicPath = <%= typeof publicPath=="undefined" ? null : JSON.stringify(publicPath) %>
</script>
